@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: rgb(251, 251, 251);
  font-family: "微軟正黑體", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  outline: none;
  border: 0 !important;
}

.demo {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  z-index: 9999;
}

.img-wrap img {
  width: 100%;
}

.preload {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  position: fixed;
  z-index: 9999;
  flex-flow: column;
}

.app {
  position: relative;
  z-index: 999;
  width: 100%;
  overflow: hidden;
}

.notice-arrow {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 0;
  text-align: center;
  left: calc((100% - 50px) / 2);
  right: 0%;
  bottom: 3%;
  z-index: 99999;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  background: rgba(255, 0, 0, 0);
  color: #fff;
}
.notice-arrow:hover {
  animation: btnhover2 0.5s forwards;
}
.notice-arrow img {
  width: 100%;
  animation: arrowDown 0.3s infinite alternate ease-out;
  opacity: 0;
}
.notice-arrow .arrow {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  animation: arrowDown 0.3s infinite alternate ease-out;
}
.notice-arrow .arrow .line-l {
  display: block;
  width: 18px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
}
.notice-arrow .arrow .line-r {
  display: block;
  width: 18px;
  height: 2px;
  background: #000;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes arrowDown {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
.mybtn {
  position: relative;
  border-radius: 5px;
}
.mybtn span.arrow {
  position: absolute;
  width: 100%;
  animation: arrow 0.1s infinite alternate;
  top: 0;
  left: 0;
  z-index: 999;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btnhover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes btnhover2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.menu-container {
  margin: 0 auto;
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  height: 60px;
  left: 0%;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 991px) {
  .menu-container {
    width: 100%;
    right: 0;
    height: auto;
  }
}
.menu-container .close_btn,
.menu-container .menu_btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}
.menu-container .close_btn img,
.menu-container .menu_btn img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .menu-container .close_btn,
  .menu-container .menu_btn {
    display: block;
  }
}
.menu-container .menu {
  width: auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  width: 100%;
  /* mobile */
}
@media screen and (max-width: 991px) {
  .menu-container .menu {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    z-index: 99;
  }
  .menu-container .menu.open {
    display: block !important;
  }
  .menu-container .menu.hide {
    display: none;
  }
}
.menu-container .menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  max-width: 1400px;
  height: 60px;
  align-items: center;
  /* mobile */
}
@media screen and (max-width: 991px) {
  .menu-container .menu ul {
    width: 100%;
    margin: 0% 0 0;
    flex-flow: column;
  }
}
.menu-container .menu ul li {
  text-align: center;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 0;
  position: relative;
  font-size: 1vw;
  margin: 5px 15px;
  /* mobile */
}
@media screen and (max-width: 991px) {
  .menu-container .menu ul li {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
}
.menu-container .menu ul li a {
  color: #666;
  display: block;
  margin: 0;
  padding: 0;
  /* mobile */
}
@media screen and (max-width: 991px) {
  .menu-container .menu ul li a {
    color: #fff;
  }
}
.menu-container .menu ul li.active:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  right: 0;
  /* mobile */
}
@media screen and (max-width: 991px) {
  .menu-container .menu ul li.active:before {
    display: none;
  }
}
.menu-container .menu ul li.m1.active a,
.menu-container .menu ul li.m2.active a,
.menu-container .menu ul li.m3.active a,
.menu-container .menu ul li.m3_2.active a,
.menu-container .menu ul li.m4.active a,
.menu-container .menu ul li.m5.active a,
.menu-container .menu ul li.m6.active a,
.menu-container .menu ul li.m7.active a,
.menu-container .menu ul li.m8.active a {
  color: rgb(234, 81, 71);
}
.menu-container .menu ul li.m1:before,
.menu-container .menu ul li.m2:before,
.menu-container .menu ul li.m3:before,
.menu-container .menu ul li.m3_2:before,
.menu-container .menu ul li.m4:before,
.menu-container .menu ul li.m5:before,
.menu-container .menu ul li.m6:before,
.menu-container .menu ul li.m7:before,
.menu-container .menu ul li.m8:before {
  background: rgb(234, 81, 71);
}
.menu-container .menu ul li:hover a,
.menu-container .menu ul li.over a {
  color: rgb(234, 81, 71);
}
.menu-container .menu ul li:hover:before,
.menu-container .menu ul li.over:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  right: 0;
}
@media screen and (max-width: 991px) {
  .menu-container .menu ul li:hover:before,
  .menu-container .menu ul li.over:before {
    display: none;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .container {
  width: 100%;
  max-width: calc(1600px - 16%);
  padding: 10% 12% 10%;
}

.main-title {
  font-size: 2.4vw;
  color: #666;
  display: inline-block;
  position: relative;
  margin-bottom: 2vw;
}
.main-title:after {
  content: "";
  display: block;
  height: 0.2vw;
  width: 100%;
  background: #fc0;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 991px) {
  .main-title {
    font-size: 8vw;
    width: 100%;
    padding-bottom: 2vw;
  }
  .main-title:after {
    height: 0.6vw;
  }
}
@media screen and (min-width: 1400px) {
  .main-title {
    font-size: 32px;
    margin-bottom: 26.6666666667px;
  }
  .main-title:after {
    height: 2.6666666667px;
  }
}

.sub-title {
  color: #333;
}
.sub-title .sub1 {
  font-size: 1.5vw;
  display: block;
}
@media screen and (max-width: 991px) {
  .sub-title .sub1 {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .sub-title .sub1 {
    font-size: 20px;
  }
}
.sub-title .sub2 {
  font-size: 1.2vw;
  display: block;
}
@media screen and (max-width: 991px) {
  .sub-title .sub2 {
    font-size: 16px;
  }
}

.main-discription {
  font-size: 1.1vw;
  display: block;
  text-align: justify;
  color: #666;
  line-height: 2vw;
  margin-bottom: 5%;
  padding-right: 2vw;
}
@media screen and (max-width: 991px) {
  .main-discription {
    font-size: 3.3vw;
    line-height: 6vw;
    width: 100%;
    margin-bottom: 5%;
    padding-right: 0;
  }
}
@media screen and (min-width: 1400px) {
  .main-discription {
    font-size: 14.6666666667px;
    line-height: 26.6666666667px;
    padding-right: 26.6666666667px;
  }
}
.main-discription ul {
  list-style: square;
  padding-left: 1.5vw;
  padding-top: 1vw;
  line-height: 2.3vw;
}
@media screen and (max-width: 991px) {
  .main-discription ul {
    padding-left: 4.5vw;
    padding-top: 3vw;
    line-height: 6.9vw;
  }
}
@media screen and (min-width: 1400px) {
  .main-discription ul {
    padding-left: 20px;
    padding-top: 13.3333333333px;
    line-height: 32px;
  }
}
.main-discription ul li {
  list-style: square;
  font-size: 1.1vw;
  line-height: 2vw;
}
@media screen and (max-width: 991px) {
  .main-discription ul li {
    font-size: 3.3vw;
    line-height: 6vw;
  }
}
@media screen and (min-width: 1400px) {
  .main-discription ul li {
    font-size: 14.6666666667px;
    line-height: 26.6666666667px;
  }
}

.main-info-list {
  border-top: 1px dashed #666;
  padding-top: 5%;
}
@media screen and (max-width: 991px) {
  .main-info-list {
    padding-top: 6%;
    border-top: 1px dashed #999;
  }
}
.main-info-list ul li {
  font-size: 1.1vw;
  padding: 0.35vw 0;
}
@media screen and (max-width: 991px) {
  .main-info-list ul li {
    font-size: 3.3vw;
    padding: 0.9vw 0;
  }
}
@media screen and (min-width: 1400px) {
  .main-info-list ul li {
    font-size: 14.6666666667px;
    padding: 4.6666666667px 0;
  }
}
.main-info-list ul li span.label {
  color: #fff;
  background: #878686;
  display: inline-block;
  width: 9vw;
  padding: 0.2vw;
  text-align: center;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .main-info-list ul li span.label {
    width: 27vw;
    padding: 0.6vw;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .main-info-list ul li span.label {
    width: 120px;
    padding: 2.6666666667px;
  }
}
.main-info-list ul li span.content {
  color: #666;
}

.main-pic {
  width: 100%;
  text-align: center;
}
.main-pic img {
  width: 100%;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  .main-pic img {
    width: 90%;
  }
}

.sideImg {
  position: absolute;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .sideImg {
    display: none;
  }
}
.sideImg img {
  width: 100%;
}

.btn-more-1 {
  display: block;
  padding: 0.8vw 0;
  width: 14vw;
  text-align: center;
  color: #fff;
  border-radius: 5vw;
  border: 1px solid #333;
  background: #333;
  clear: both;
  float: right;
  margin-right: 1.5vw;
}
@media screen and (max-width: 991px) {
  .btn-more-1 {
    width: calc(100% - 7.2vw);
    padding: 2.4vw 0;
    border-radius: 15vw;
    float: none;
    margin: 10% auto;
  }
}
@media screen and (min-width: 1400px) {
  .btn-more-1 {
    padding: 10.6666666667px 0;
    width: 186.6666666667px;
    border-radius: 66.6666666667px;
    margin-right: 20px;
  }
}
.btn-more-1:hover {
  background: #666;
  color: #fff;
}

#section-1 {
  padding-bottom: 7%;
}
#section-1 .side-1 {
  width: 17%;
  left: -3%;
  top: 60%;
}
#section-1 .side-2 {
  width: 26%;
  right: -3%;
  top: 70%;
}
#section-1 .container {
  position: relative;
}
#section-1 .container .top-box {
  position: absolute;
  width: 22%;
  top: -10%;
  left: 34%;
}
@media screen and (max-width: 991px) {
  #section-1 .container .top-box {
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    position: relative;
    max-height: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
#section-1 .container .top-box img {
  width: 100%;
}
#section-1 .container .left-box {
  width: 32%;
}
@media screen and (max-width: 991px) {
  #section-1 .container .left-box {
    width: 100%;
  }
}
#section-1 .container .right-box {
  width: 39%;
  float: right;
  position: absolute;
  height: 100%;
  top: 0;
  right: 18%;
  padding-top: 13%;
}
@media screen and (max-width: 991px) {
  #section-1 .container .right-box {
    width: 100%;
    position: static;
  }
}

#section-2 {
  padding-bottom: 7%;
}
#section-2 .side-1 {
  width: 17%;
  left: -3%;
  top: 75%;
}
#section-2 .side-2 {
  width: 24%;
  right: -3%;
  top: 85%;
}
#section-2 .container {
  position: relative;
}
#section-2 .container .left-box {
  width: 100%;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  #section-2 .container .left-box {
    width: 100%;
  }
}
#section-2 .container .right-box {
  width: 51%;
  float: right;
  position: absolute;
  height: 100%;
  top: 0;
  right: 7%;
  padding-top: 10%;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  #section-2 .container .right-box {
    width: 100%;
    position: static;
  }
}

#section-7 {
  background: #fff;
  padding-bottom: 12%;
}
#section-7 .side-3 {
  width: 24%;
  left: -3%;
  top: 64%;
}
#section-7 .side-4 {
  width: 18%;
  right: -3%;
  top: 70%;
}
#section-7 .container {
  position: relative;
  padding-bottom: 16%;
}
#section-7 .container .left-box {
  width: 46%;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  #section-7 .container .left-box {
    width: 100%;
    position: static;
  }
}
#section-7 .container .left-box .main-discription ul {
  padding-top: 0;
}
#section-7 .container .right-box {
  width: 54%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 13%;
  padding-top: 11%;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  #section-7 .container .right-box {
    width: 100%;
    position: static;
  }
}

#section-3 {
  padding-bottom: 0%;
}
#section-3 .side-1 {
  width: 26%;
  left: -3%;
  top: -26%;
  z-index: 0;
}
#section-3 .side-2 {
  width: 20%;
  right: -3%;
  top: -26%;
}
#section-3 .side-3 {
  width: 45%;
  top: 90%;
  left: 20%;
}
#section-3 .container {
  position: relative;
  z-index: 1;
}
#section-3 .container .main-title {
  display: inline-block;
}
#section-3 .container .slick-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
}
#section-3 .container .slick-wrap .slick-box-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#section-3 .container .slick-wrap .slick-box-2 .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box-2 .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box-2 .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-3 .container .slick-wrap .slick-box-2 .item .imgWrap {
  display: block;
  width: 100%;
}
#section-3 .container .slick-wrap .slick-box-2 .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-3 .container .slick-wrap .slick-box-2 .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box-2 .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box-2 .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-3 .container .slick-wrap .slick-box-2 .item .info span {
  color: #555;
  font-weight: bold;
}
#section-3 .container .slick-wrap .slick-box-2 .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box-2 .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box-2 .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-3 .container .slick-wrap .slick-box-2 .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}
#section-3 .container .slick-wrap .slick-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box {
    flex-flow: column;
  }
}
#section-3 .container .slick-wrap .slick-box .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-3 .container .slick-wrap .slick-box .item .imgWrap {
  display: block;
  width: 100%;
}
#section-3 .container .slick-wrap .slick-box .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-3 .container .slick-wrap .slick-box .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-3 .container .slick-wrap .slick-box .item .info span {
  color: #555;
  font-weight: bold;
}
#section-3 .container .slick-wrap .slick-box .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-3 .container .slick-wrap .slick-box .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3 .container .slick-wrap .slick-box .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-3 .container .slick-wrap .slick-box .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}

#section-3-2 {
  background: #fefefe;
  padding-bottom: 0%;
  min-height: 500px;
  border-bottom: 1px solid #eee;
}
#section-3-2 .side-1 {
  width: 17%;
  left: -3%;
  top: -23%;
  z-index: 0;
}
#section-3-2 .side-2 {
  width: 24%;
  right: -3%;
  top: -15%;
}
#section-3-2 .container {
  position: relative;
  z-index: 1;
}
#section-3-2 .container .main-title {
  display: inline-block;
}
#section-3-2 .container .slick-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
}
#section-3-2 .container .slick-wrap .slick-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  #section-3-2 .container .slick-wrap .slick-box {
    flex-flow: column;
  }
}
#section-3-2 .container .slick-wrap .slick-box .item-full {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#section-3-2 .container .slick-wrap .slick-box .item-full .imgWrap {
  display: block;
  flex: 0 0 100%;
}
#section-3-2 .container .slick-wrap .slick-box .item-full .imgWrap img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
#section-3-2 .container .slick-wrap .slick-box .item-full .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
  flex: 0 0 40%;
}
#section-3-2 .container .slick-wrap .slick-box .item-full .info span {
  color: #555;
  font-weight: bold;
}
#section-3-2 .container .slick-wrap .slick-box .item-full .btn {
  display: block;
  padding: 0.6vw 0;
  width: 20%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
  flex: 0 0 50%;
}
@media screen and (max-width: 991px) {
  #section-3-2 .container .slick-wrap .slick-box .item-full .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-3-2 .container .slick-wrap .slick-box .item-full .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-3-2 .container .slick-wrap .slick-box .item-full .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}

#section-4 {
  padding-bottom: 0%;
}
#section-4 .side-1 {
  width: 17%;
  left: -3%;
  top: -23%;
  z-index: 0;
}
#section-4 .side-2 {
  width: 24%;
  right: -3%;
  top: -15%;
}
#section-4 .container {
  position: relative;
  z-index: 1;
}
#section-4 .container .main-title {
  display: inline-block;
}
#section-4 .container .slick-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
}
#section-4 .container .slick-wrap .slick-box-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#section-4 .container .slick-wrap .slick-box-2 .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item .imgWrap {
  display: block;
  width: 100%;
}
#section-4 .container .slick-wrap .slick-box-2 .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-4 .container .slick-wrap .slick-box-2 .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item .info span {
  color: #555;
  font-weight: bold;
}
#section-4 .container .slick-wrap .slick-box-2 .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}
#section-4 .container .slick-wrap .slick-box-2 .item-full {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .imgWrap {
  display: block;
  width: 100%;
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .info span {
  color: #555;
  font-weight: bold;
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box-2 .item-full .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box-2 .item-full .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}
#section-4 .container .slick-wrap .slick-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box {
    flex-flow: column;
  }
}
#section-4 .container .slick-wrap .slick-box .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-4 .container .slick-wrap .slick-box .item .imgWrap {
  display: block;
  width: 100%;
}
#section-4 .container .slick-wrap .slick-box .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-4 .container .slick-wrap .slick-box .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box .item .info span {
  color: #555;
  font-weight: bold;
}
#section-4 .container .slick-wrap .slick-box .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-4 .container .slick-wrap .slick-box .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-4 .container .slick-wrap .slick-box .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-4 .container .slick-wrap .slick-box .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}

#section-6 {
  background: url(../images/sec6/s6-bot-line.png?123123) no-repeat #F7BFC6;
  background-size: 100% auto;
  background-position: bottom center;
  align-items: flex-start;
}
#section-6:before {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  background: url(../images/sec6/s6-top-line.png?142134123) no-repeat;
  background-size: 100% auto;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 0;
}
#section-6 .container {
  position: relative;
  z-index: 1;
  padding-top: 8%;
  width: 100%;
  max-width: calc(1400px - 16%);
  padding: 10% 12% 10%;
  margin: 0 auto;
}
#section-6 .container .dot {
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
@media screen and (max-width: 991px) {
  #section-6 .container .dot {
    display: none;
  }
}
#section-6 .container .main-title {
  position: relative;
  margin-bottom: 11%;
}
#section-6 .container .main-title .dot-1 {
  width: 190%;
  padding-bottom: 190%;
  opacity: 0.54;
  bottom: -200%;
  left: -20%;
  z-index: -1;
}
#section-6 .container .main-title .title-img {
  position: absolute;
  right: -109px;
  width: 6vw;
  bottom: -1.5vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .main-title .title-img {
    width: 18vw;
    bottom: -4.5vw;
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .main-title .title-img {
    width: 80px;
    bottom: -20px;
  }
}
#section-6 .container .main-title .title-img img {
  width: 100%;
}
#section-6 .container .box {
  position: relative;
  width: 100%;
}
#section-6 .container .box .box-wrap {
  position: relative;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap {
    position: static;
  }
}
#section-6 .container .box .box-wrap .dot-title {
  display: inline-block;
  position: absolute;
  width: 30%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap .dot-title {
    width: 100%;
  }
}
#section-6 .container .box .box-wrap .dot-title .no {
  color: #fff;
  font-size: 2.4vw;
  line-height: 3.4vw;
  display: block;
  text-align: right;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap .dot-title .no {
    font-size: 7.2vw;
    line-height: 10.2vw;
    text-align: left;
    display: inline-block;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box .box-wrap .dot-title .no {
    font-size: 34px;
    line-height: 48.1666666667px;
  }
}
#section-6 .container .box .box-wrap .dot-title .text {
  color: #666;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: bold;
  display: block;
  text-align: right;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap .dot-title .text {
    font-size: 3.6vw;
    line-height: 3.6vw;
    text-align: left;
    display: inline-block;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box .box-wrap .dot-title .text {
    font-size: 17px;
    line-height: 17px;
  }
}
#section-6 .container .box .box-wrap .dot-title:after {
  content: "";
  width: 45%;
  padding-bottom: 45%;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -5%;
  right: 6%;
  opacity: 0.4;
  z-index: 0;
}
#section-6 .container .box .box-wrap .main,
#section-6 .container .box .box-wrap .guy {
  position: absolute;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap .main,
  #section-6 .container .box .box-wrap .guy {
    position: static !important;
    width: 100% !important;
  }
}
#section-6 .container .box .box-wrap .main img,
#section-6 .container .box .box-wrap .guy img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box .box-wrap .guy {
    display: none;
  }
}
#section-6 .container .box.box-1 {
  min-height: 24vw;
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-1 {
    padding-bottom: 0;
    min-height: 300px;
  }
}
#section-6 .container .box.box-1 .dot-bg {
  display: block;
  position: absolute;
  width: 105%;
  left: -38%;
  padding-bottom: 32%;
  background: url(../images/sec6/s6-dot-bg.png) repeat-x;
  background-size: auto 100%;
  background-position: right;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .dot-bg {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-1 .dot-bg {
    padding-bottom: 0;
    height: 300px;
  }
}
#section-6 .container .box.box-1 .box-wrap {
  width: 70%;
  float: right;
  min-height: 24vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap {
    width: 100%;
    float: none;
    min-height: 0;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-1 .box-wrap {
    min-height: 300px;
  }
}
#section-6 .container .box.box-1 .box-wrap .dot-title {
  right: 0;
  top: 0;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap .dot-title {
    position: static;
    margin: 5% 0;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap .dot-title:after {
    display: none !important;
  }
}
#section-6 .container .box.box-1 .box-wrap .guy {
  width: 35%;
  left: 0;
  top: -3vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap .guy {
    top: -9vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-1 .box-wrap .guy {
    top: -42.5px;
  }
}
#section-6 .container .box.box-1 .box-wrap .text-box {
  background: rgb(255, 255, 255);
  padding: 3%;
  position: absolute;
  z-index: 2;
  bottom: 1vw;
  border-radius: 2vw;
  font-size: 1vw;
  line-height: 1.8vw;
  color: #666;
  width: 75%;
  right: 5%;
  text-align: justify;
  min-height: 8vw;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
#section-6 .container .box.box-1 .box-wrap .text-box:after {
  content: "";
  display: block;
  background: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  right: 6%;
  top: -6px;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap .text-box:after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-1 .box-wrap .text-box {
    bottom: 3vw;
    border-radius: 10px;
    font-size: 3vw;
    line-height: 6vw;
    position: static;
    width: 94%;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-1 .box-wrap .text-box {
    bottom: 13.3333333333px;
    border-radius: 26.6666666667px;
    font-size: 13.3333333333px;
    line-height: 21.3333333333px;
    min-height: 106.6666666667px;
  }
}
#section-6 .container .box.box-2 {
  min-height: 18vw;
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-2 {
    padding-bottom: 0;
    min-height: 225px;
  }
}
#section-6 .container .box.box-2 .dot-bg {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 30%;
  padding-bottom: 30%;
  border-radius: 50%;
  left: -4%;
  top: -10%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-2 .dot-bg {
    display: none;
  }
}
#section-6 .container .box.box-2 .dot-bg-2 {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 45%;
  padding-bottom: 45%;
  border-radius: 50%;
  right: -40%;
  top: -50%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-2 .dot-bg-2 {
    display: none;
  }
}
#section-6 .container .box.box-2 .box-wrap {
  width: 70%;
  float: left;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-2 .box-wrap {
    width: 100%;
    float: none;
    min-height: 0;
  }
}
#section-6 .container .box.box-2 .box-wrap .dot-title {
  right: 10%;
  top: 8vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-2 .box-wrap .dot-title {
    position: static;
    margin: 5% 0;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-2 .box-wrap .dot-title:after {
    display: none !important;
  }
}
#section-6 .container .box.box-2 .box-wrap .main {
  width: 75%;
  position: absolute;
}
#section-6 .container .box.box-3 {
  min-height: 36vw;
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-3 {
    padding-bottom: 0;
    min-height: 480px;
  }
}
#section-6 .container .box.box-3 .dot-bg {
  display: block;
  position: absolute;
  width: 67%;
  right: -38%;
  bottom: -48%;
  padding-bottom: 32%;
  background: url(../images/sec6/s6-dot-bg.png) repeat-x;
  background-size: auto 100%;
  background-position: left;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-3 .dot-bg {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-3 .dot-bg {
    padding-bottom: 0;
    height: 300px;
  }
}
#section-6 .container .box.box-3 .box-wrap {
  width: 70%;
  float: right;
  min-height: 52vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-3 .box-wrap {
    width: 100%;
    float: none;
    min-height: 0;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-3 .box-wrap {
    min-height: 710px;
  }
}
#section-6 .container .box.box-3 .box-wrap .dot-title {
  right: 28%;
  top: 23%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-3 .box-wrap .dot-title {
    position: static;
    margin: 5% 0;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-3 .box-wrap .dot-title:after {
    display: none !important;
  }
}
#section-6 .container .box.box-3 .box-wrap .guy {
  position: absolute;
  width: 17%;
  right: 5%;
  top: 0%;
}
#section-6 .container .box.box-3 .box-wrap .main {
  width: 94%;
  position: absolute;
  right: -15%;
  top: 28%;
}
#section-6 .container .box.box-4 {
  min-height: 38vw;
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-4 {
    padding-bottom: 0;
    min-height: 500px;
  }
}
#section-6 .container .box.box-4 .dot-bg {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.16);
  width: 40%;
  padding-bottom: 40%;
  border-radius: 50%;
  left: -20%;
  top: -1.5%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .dot-bg {
    display: none;
  }
}
#section-6 .container .box.box-4 .dot-bg-2 {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 27%;
  padding-bottom: 27%;
  border-radius: 50%;
  left: 76%;
  top: 35%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .dot-bg-2 {
    display: none;
  }
}
#section-6 .container .box.box-4 .dot-bg-3 {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 30%;
  padding-bottom: 30%;
  border-radius: 50%;
  left: 22%;
  top: 55%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .dot-bg-3 {
    display: none;
  }
}
#section-6 .container .box.box-4 .box-wrap {
  width: 70%;
  float: none;
  min-height: 38vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .box-wrap {
    width: 100%;
    float: none;
    min-height: 0;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-4 .box-wrap {
    min-height: 500px;
  }
}
#section-6 .container .box.box-4 .box-wrap .dot-title {
  left: 16%;
  top: 10%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .box-wrap .dot-title {
    position: static;
    margin: 5% 0;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-4 .box-wrap .dot-title:after {
    display: none !important;
  }
}
#section-6 .container .box.box-4 .box-wrap .main {
  width: 92%;
  position: absolute;
  left: 8%;
  top: 30%;
}
#section-6 .container .box.box-5 {
  min-height: 34vw;
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-5 {
    padding-bottom: 0;
    min-height: 420px;
  }
}
#section-6 .container .box.box-5 .dot-bg {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 38%;
  padding-bottom: 38%;
  border-radius: 50%;
  left: -7.5%;
  top: 13.5%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .dot-bg {
    display: none;
  }
}
#section-6 .container .box.box-5 .box-wrap {
  width: 70%;
  float: right;
  min-height: 34vw;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap {
    width: 100%;
    float: none;
    min-height: 0;
  }
}
@media screen and (min-width: 1400px) {
  #section-6 .container .box.box-5 .box-wrap {
    min-height: 420px;
  }
}
#section-6 .container .box.box-5 .box-wrap .dot-title {
  right: 30%;
  top: 0%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap .dot-title {
    position: static;
    margin: 5% 0;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap .dot-title:after {
    display: none !important;
  }
}
#section-6 .container .box.box-5 .box-wrap .guy {
  width: 27%;
  right: 7%;
  top: 22%;
}
#section-6 .container .box.box-5 .box-wrap .text-box {
  background: #fff;
  padding: 3%;
  position: absolute;
  z-index: 2;
  top: 32%;
  border-radius: 2vw;
  font-size: 1vw;
  line-height: 1.8vw;
  color: #666;
  width: 83%;
  right: 42%;
  text-align: justify;
  min-height: 8vw;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
#section-6 .container .box.box-5 .box-wrap .text-box:after {
  content: "";
  display: block;
  background: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  right: -6px;
  top: 20%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap .text-box:after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap .text-box {
    bottom: 3vw;
    border-radius: 10px;
    font-size: 3vw;
    line-height: 6vw;
    position: static;
    width: 94%;
  }
}
#section-6 .container .box.box-5 .box-wrap .text-box span {
  display: block;
}
#section-6 .container .box.box-5 .box-wrap .btn-more-1 {
  position: absolute;
  bottom: 0;
  right: 4%;
  width: 27%;
}
@media screen and (max-width: 991px) {
  #section-6 .container .box.box-5 .box-wrap .btn-more-1 {
    position: static;
    width: 100%;
  }
}

#section-5 {
  background-color: #F1EEED;
  padding-bottom: 0%;
}
#section-5 .side-1 {
  width: 17%;
  left: -3%;
  top: -23%;
  z-index: 0;
}
#section-5 .side-2 {
  width: 24%;
  right: -3%;
  top: -15%;
}
#section-5 .container {
  position: relative;
  z-index: 1;
}
#section-5 .container .main-title {
  display: inline-block;
}
#section-5 .container .slick-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
}
#section-5 .container .slick-wrap .slick-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  #section-5 .container .slick-wrap .slick-box {
    flex-flow: column;
  }
}
#section-5 .container .slick-wrap .slick-box .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  #section-5 .container .slick-wrap .slick-box .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-5 .container .slick-wrap .slick-box .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
#section-5 .container .slick-wrap .slick-box .item .imgWrap {
  display: block;
  width: 100%;
}
#section-5 .container .slick-wrap .slick-box .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
#section-5 .container .slick-wrap .slick-box .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  #section-5 .container .slick-wrap .slick-box .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-5 .container .slick-wrap .slick-box .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
#section-5 .container .slick-wrap .slick-box .item .info span {
  color: #555;
  font-weight: bold;
}
#section-5 .container .slick-wrap .slick-box .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  #section-5 .container .slick-wrap .slick-box .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-5 .container .slick-wrap .slick-box .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
#section-5 .container .slick-wrap .slick-box .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}

#section-8 {
  background: #F1EEED;
  padding-bottom: 10%;
  padding-top: 10%;
}
#section-8 .contact-img {
  position: absolute;
}
@media screen and (max-width: 991px) {
  #section-8 .contact-img:not(:nth-child(7)) {
    display: none;
  }
}
#section-8 .contact-img img {
  width: 100%;
}
#section-8 .contact-1 {
  top: 5%;
  left: 0;
  width: 15%;
}
#section-8 .contact-2 {
  top: 50%;
  left: 3%;
  width: 20%;
}
#section-8 .contact-3 {
  bottom: -1%;
  left: 30%;
  width: 15%;
}
#section-8 .contact-4 {
  bottom: -1%;
  right: 30%;
  width: 15%;
}
#section-8 .contact-5 {
  top: 50%;
  right: 3%;
  width: 15%;
}
#section-8 .contact-6 {
  top: 10%;
  right: 0;
  width: 15%;
}
#section-8 .contact-7 {
  top: 0;
  right: 37.5%;
  width: 25%;
}
#section-8 .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-8 .container .center-box {
  width: 50%;
  background: url(../images/sec8/s8-bg.svg) no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
}
@media screen and (max-width: 991px) {
  #section-8 .container .center-box {
    width: 100%;
    background: none;
  }
}
#section-8 .container .center-box .title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row;
  font-size: 2vw;
  width: 70%;
  margin-left: 15%;
  color: #666;
  margin-bottom: 5%;
}
@media screen and (max-width: 991px) {
  #section-8 .container .center-box .title {
    font-size: 6vw;
  }
}
@media screen and (min-width: 1400px) {
  #section-8 .container .center-box .title {
    font-size: 26.6666666667px;
  }
}
#section-8 .container .center-box .title span {
  display: inline-block;
  width: 20%;
  position: relative;
  padding-left: 4%;
  top: 3%;
  font-weight: bold;
}
#section-8 .container .center-box .title span img {
  width: 100%;
}
#section-8 .container .center-box ul {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  #section-8 .container .center-box ul {
    width: 100%;
  }
}
#section-8 .container .center-box ul li {
  font-size: 1.1vw;
  padding: 0.35vw 0;
}
@media screen and (max-width: 991px) {
  #section-8 .container .center-box ul li {
    font-size: 3.3vw;
    padding: 0.9vw 0;
  }
}
@media screen and (min-width: 1400px) {
  #section-8 .container .center-box ul li {
    font-size: 14.6666666667px;
    padding: alc(4.6666666667px) 0;
  }
}
#section-8 .container .center-box ul li span.label {
  color: #fff;
  background: #878686;
  display: inline-block;
  width: 9vw;
  padding: 0.2vw;
  text-align: center;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  #section-8 .container .center-box ul li span.label {
    width: 27vw;
    padding: 0.6vw;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1400px) {
  #section-8 .container .center-box ul li span.label {
    width: 120px;
    padding: 2.6666666667px;
  }
}
#section-8 .container .center-box ul li span.content {
  color: #666;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

@keyframes hoverColor {
  0% {
    background: rgb(255, 255, 255);
    color: rgb(86, 168, 235);
  }
  100% {
    background: rgb(86, 168, 235);
    color: #fff;
  }
}
.mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}

@media screen and (max-width: 991px) {
  #mCSB_1_scrollbar_vertical {
    opacity: 0 !important;
  }
}

.lightBox {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  overflow: hidden;
}
.lightBox .mask-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}
.lightBox .close_box {
  width: 30px;
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .lightBox .close_box {
    position: fixed;
  }
}
.lightBox .close_box img {
  width: 100%;
  display: block;
  overflow: hidden;
  outline: none;
}
.lightBox .box {
  background: #fff;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;
  padding: 2%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .lightBox .box {
    width: 80%;
    margin: 0% auto;
    padding: 10%;
  }
}
.lightBox .box h2.title {
  width: 100%;
}
.lightBox .box.img .imgWrap {
  width: 100%;
}
.lightBox .box.img .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
.lightBox .box.grap .slick-wrap {
  width: 90%;
  margin: 0 5%;
}
.lightBox .box.grap .slick-wrap .slick-prev:before, .lightBox .box.grap .slick-wrap .slick-next:before {
  color: #ccc;
}
.lightBox .box.grap .slick-wrap .new-item {
  float: left;
  width: 100%;
}
.lightBox .box.grap .slick-wrap .new-item img {
  width: 100%;
}
.lightBox .box .item {
  margin: 1.5vw;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2vw;
  border-radius: 1.5vw;
  width: 26%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  .lightBox .box .item {
    width: calc(100% - 7.2vw);
    margin: 1.5vw 0;
    padding: 3.6vw;
  }
}
@media screen and (min-width: 1400px) {
  .lightBox .box .item {
    margin: 20px;
    padding: 16px;
    border-radius: 20px;
    width: calc((100% - 218px) / 3);
  }
}
.lightBox .box .item .imgWrap {
  display: block;
  width: 100%;
}
.lightBox .box .item .imgWrap img {
  width: 100%;
  border-radius: 10px;
}
.lightBox .box .item .info {
  color: #666;
  font-size: 1.1vw;
  line-height: 2.2vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  min-height: 170px;
}
@media screen and (max-width: 991px) {
  .lightBox .box .item .info {
    font-size: 3.3vw;
    line-height: 6.6vw;
    padding-top: 3.3vw;
    padding-bottom: 3.3vw;
  }
}
@media screen and (min-width: 1400px) {
  .lightBox .box .item .info {
    font-size: 14.6666666667px;
    line-height: 29.3333333333px;
    padding-top: 14.6666666667px;
    padding-bottom: 14.6666666667px;
  }
}
.lightBox .box .item .info span {
  color: #555;
  font-weight: bold;
}
.lightBox .box .item .btn {
  display: block;
  padding: 0.6vw 0;
  width: 100%;
  text-align: center;
  color: rgb(86, 168, 235);
  border-radius: 5vw;
  border: 1px solid rgb(86, 168, 235);
}
@media screen and (max-width: 991px) {
  .lightBox .box .item .btn {
    padding: 1.8vw 0;
    border-radius: 15vw;
  }
}
@media screen and (min-width: 1400px) {
  .lightBox .box .item .btn {
    padding: 8px 0;
    border-radius: 66.6666666667px;
  }
}
.lightBox .box .item .btn:hover {
  animation: hoverColor 0.2s forwards ease-in;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.blur .menu,
.blur section {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
}/*# sourceMappingURL=style.css.map */